oldData
.env
narrators_fromJson.py
test_using_gemini.py
debug_response_narrator_59.txt
debug_response_narrator_81.txt
debug_response_narrator_108.txt
debug_response_narrator_113.txt
debug_response_narrator_116.txt
debug_response_narrator_118.txt
debug_response_narrator_168.txt
debug_response_narrator_173.txt
debug_response_narrator_214.txt
debug_response_narrator_216.txt
debug_response_narrator_223.txt
004.pdf
